.Main {
  margin-top: 91px;
  margin-left: 117px;
  padding: 2.5rem;
}
.Message {
  margin: 40px 0;
}
.FirstName {
  color: var(--red);
}
.ChartAndCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.Chart {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 100vh;
}
.ChartItem {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 30px;
}
.ChartItem > div {
  width: calc(100% / 3) !important;
  height: 263px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}
.CardGrid {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.LineChart {
  background-color: var(--red);
  padding: 10px;
}
.RadarChart {
  background-color: var(--black);
  padding: 10px;
}
.RadialChart {
  background-color: var(--grey);
  padding: 10px;
}
.SwitchBtn {
  position: absolute;
  right: 2.5rem;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid var(--red);
  height: 24px;
  cursor: pointer;
}
