body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --red: #ff0000;
  --grey: #fbfbfb;
  --black: #282d30;
}
h1,
p {
  margin: unset;
}
main {
  height: 100vh;
  margin-top: 91px;
  margin-left: 117px;
  padding: 2.5rem;
}
